
.gallery_bg-img1{
  background-image: url("../images/foggy_road.jpg");
}


.about_bg-img1{
  background-image: url("../images/hand_shake_opportunity.jpg");
}

.about_bg-img2{
  background-image: url("../images/business_charts.jpg");
}

.about_bg-img3{
  background-image: url("../images/FasTrak_Map.jpg");
}

